<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
	<link rel="preconnect" href="https://app.snipcart.com">
  <link rel="preconnect" href="https://cdn.snipcart.com">
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.css" />
</head>
<body>
	<header>
		<h1>{{ title }}</h1>
	</header>
	<main>
	{{ content | safe }}
	</main>
	<script src="{{ '/js/main.js' | url }}"></script>
	<script async src="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.js"></script>
	<div id="snipcart" data-config-modal-style="side" data-api-key="ODg4NDJiYjktNGQzMC00YWYwLTgzODgtYmJkZGQ2MTc4Y2YyNjM3NjI3MjU4MzU0NjM5NzMx" hidden></div>
</body>
</html>