---
layout: base.njk
title: Hello World
---

<h1>Proof of concept</h1>
<p>{{ productData.environment }}</p>

<script>
 let btn = document.createElement('button');
 btn.classList.add('snipcart-add-item');
 btn.dataset.itemId = 'Ciocan';
 btn.dataset.itemPrice= '7.50';
 btn.dataset.itemUrl = '/';
 btn.dataset.itemName = "Ciocanul Negru";
 btn.textContent = "Add to cart";
 
 document.querySelector('body').appendChild(btn);
</script>